* {
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	min-width: 100%;
	max-width: 100vw;
	min-height: 100vh;
}

body {
	overflow-x: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0;
	min-width: 100%;
	max-width: 100vw;
	background-color: #F5F5F5;
}

a {
	text-decoration: none;
	color: black;
}

hr, h1, h2, h3, h4 {
	margin: 0;
}