<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         id="WebApp_ID" version="6.0">
    <display-name>cy_school_manager</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <request-character-encoding>UTF-8</request-character-encoding>

    <!-- Routes -->
    <!-- SERVLET NAMES MUST BE UNIQUE -->
    <!--
        To add a route :
            First, declare your <servlet>
            Second, declare his <servlet-mapping>

        /!\ A servlet may have multiple servlet-mappings

        Example :
                <servlet>
                    <servlet-name>MyServlet</servlet-name>
                    <servlet-class>my.servlet.path</servlet-class>
                </servlet>

                <servlet-mapping>
                    <servlet-name>MyServlet</servlet-name> // This links the servlet you declared before
                    <url-pattern>/my/servlet/url</url-pattern>
                </servlet-mapping>
    -->

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>views.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HibernateInitialize</servlet-name>
        <servlet-class>views.services.hibernate.HibernateInitialize</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HibernateInitialize</servlet-name>
        <url-pattern>/hibernate/initialize</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminIndex</servlet-name>
        <servlet-class>views.admin.AdminIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminIndex</servlet-name>
        <url-pattern>/admin/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIndex</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminProfile</servlet-name>
        <servlet-class>views.admin.AdminProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProfile</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminProfessors</servlet-name>
        <servlet-class>views.admin.AdminProfessors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProfessors</servlet-name>
        <url-pattern>/admin/professors</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminStudents</servlet-name>
        <servlet-class>views.admin.AdminStudents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminStudents</servlet-name>
        <url-pattern>/admin/students</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentIndex</servlet-name>
        <servlet-class>views.student.StudentIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentIndex</servlet-name>
        <url-pattern>/student/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentIndex</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentNotes</servlet-name>
        <servlet-class>views.student.StudentNotes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentNotes</servlet-name>
        <url-pattern>/student/notes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentProfile</servlet-name>
        <servlet-class>views.student.StudentProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentProfile</servlet-name>
        <url-pattern>/student/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentSchedule</servlet-name>
        <servlet-class>views.student.StudentSchedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentSchedule</servlet-name>
        <url-pattern>/student/schedule</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfessorIndex</servlet-name>
        <servlet-class>views.professor.ProfessorIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfessorIndex</servlet-name>
        <url-pattern>/professor/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorIndex</servlet-name>
        <url-pattern>/professor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfessorNotes</servlet-name>
        <servlet-class>views.professor.ProfessorNotes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfessorNotes</servlet-name>
        <url-pattern>/professor/notes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfessorProfile</servlet-name>
        <servlet-class>views.professor.ProfessorProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfessorProfile</servlet-name>
        <url-pattern>/professor/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfessorSchedule</servlet-name>
        <servlet-class>views.professor.ProfessorSchedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfessorSchedule</servlet-name>
        <url-pattern>/professor/schedule</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>views.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>views.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
</web-app>